<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyds.yaman.mapper.MryProductMapper">
    
    <resultMap type="com.yyds.yaman.domain.MryProduct" id="MryProductResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="model" column="model"/>
        <result property="communication" column="communication"/>
        <result property="networking" column="networking"/>
        <result property="gear" column="gear"/>
        <result property="function" column="function"/>
        <result property="spec" column="spec"/>
        <result property="picUrl" column="pic_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <sql id="selectMryProductVo">
        select id, name, type, model, communication, networking, gear, function, spec, pic_url, create_time, update_time, delete_flag  from mry_product
    </sql>

    <select id="selectByEntity" parameterType="com.yyds.yaman.domain.MryProduct" resultMap="MryProductResult">
        <include refid="selectMryProductVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="model != null "> and model = #{model}</if>
            <if test="communication != null "> and communication = #{communication}</if>
            <if test="networking != null "> and networking = #{networking}</if>
            <if test="gear != null  and gear != ''"> and gear = #{gear}</if>
            <if test="function != null  and function != ''"> and function = #{function}</if>
            <if test="spec != null  and spec != ''"> and spec = #{spec}</if>
            <if test="picUrl != null  and picUrl != ''"> and pic_url = #{picUrl}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update mry_product set delete_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
